@charset "utf-8";
/* CSS Document */
.hidden {
  display:none;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #fff;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */

nav #offline-msg {
  display:none;
}
.offline nav {
  background-color: red;
  color:black;
}
.offline nav #offline-msg {
  display:block;
}

nav {
  width: 100%;
  height: 51px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    /*width: calc(50% - 80px);*/
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
nav #breadcrumb li + li::before {
  display: inline-block;
  margin: 0 .50em;
  transform: rotate(15deg);
  border-right: .1em solid currentColor;
  height: 12px;
  content: '';
}

nav #breadcrumb [aria-current="page"] {
  color: #00f;
  font-weight: 700;
  text-decoration: none;
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #00f;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map-container {
  background: blue none repeat scroll 0 0;
  min-height: 300px;
  width: 100%;
  order: 0;
}
#map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
#maincontent {
  display: flex;
  flex-wrap: wrap;
}
